*{
    padding: 0;
    margin: 0;    
}

body{

    max-width: 900px;
    max-height: 1500px;
    border: 1px solid black;
    margin:auto;

}

div.grid-container{
    
    justify-content: center;
    background-color: lightblue;
    font-family: 'Fuzzy Bubbles', cursive;
}

div.grid-container > div{

    border: 1px solid black;
    justify-content: center;

}

img{
    width: 100px;
}

.header2{
    
    color: red;
    
}