div.grid-container{
    display: grid;
    grid-template-columns:repeat(3,(100px , 1fr));
    grid-template-rows: 250px auto 700px 250px 100px;
    grid-template-areas:" header header2 header2" 
                        "nav nav nav"
                        "section section section"
                        "footer footer footer";
    grid-gap: 10px;


} 

div.grid-container .header{

    background-color:lightcoral;
    grid-column-start:header;
    grid-column-end:header;
}
div.grid-container .header2{

    grid-column-start:header2;
    grid-column-end:header2;
    grid-row-start:header2;
    grid-row-end:header2;

}

div.grid-container .nav{
    background-color:black;
    grid-column-start:nav;
    grid-column-end:nav;
}

div.grid-container .section{
    background-color: brown;
    grid-column-start:section;
    grid-column-end:section;
}

div.grid-container .footer {
    background-color: bisque;
    grid-column-start:footer;
    grid-column-end:footer;
}